<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <!-- <main>
        <p>Search location: {{city}}</p>
        <p>Search term: {{search_term or 'None Specified'}}</p>
        <p>Data: {{ restaurant }}</p>
        <h2>Top Restaurant:</h2> 
        <p>Name: {{ restaurant.get('name') }}</p>
    </main> -->
    <section id = "card">
        <h2 id = "header">{{restaurant.get('name')}}</h2>
        <img id = "pic" src = {{ restaurant.get('image_url') }} alt = "Image of restaurant" />
        <p id = "add"> {{restaurant.get('display_address')}}</p>
        <p class = "attributes"> Price: <b>{{restaurant.get('price')}}</b></p>
        <p class = "attributes"> Rating: <b>{{restaurant.get('rating')}}</b></p>
        <p class = "attributes"> Review Count: <b>{{restaurant.get('review_count')}}</b></p>
    </section>
</body>
</html>

